
<div id="contact">
  <div class="contact-us">
    <div class="container-fluid">
      <div class="text">
        <h2>Contact Us</h2>
        <p>We want to hear from you. Hire us, ask more about the program, give us your feedback.</p>
      </div>
      <form action="https://getsimpleform.com/messages?form_api_token=6851f4ec0e08c90e52af30293e056236" method="post">
        <div class="form-group">
          <input type="hidden" name="redirect_to" value="http://nss-cohort-8.github.io" class="form-control">
        </div>
        <div class="form-group">
          <label for="name">Name:</label>
          <input id="name" type="text" name="name" placeholder="John Smith" class="form-control input-block-level">
        </div>
        <div class="form-group">
          <label class="control-label">Company:</label>
          <input id="company" type="text" name="company" placeholder="Company" class="form-control input-block-level">
        </div>
        <div class="form-group">
          <label class="control-label">Email:</label>
          <input id="email" type="text" name="email" placeholder="Email address" class="form-control input-block-level">
        </div>
        <div class="form-group">
          <label class="control-label">Message:</label>
          <textarea id="message" name="message" placeholder="How can we help you?" cols="50" rows="10" class="form-control input-block-level"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" value="submit" class="btn btn-large btn-primary form-control">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>