
<div id="contact"></div>
<div class="container">
  <form action="https://getsimpleform.com/messages?form_api_token=4867d0561d3a04d10b832d413035b392" method="post">
    <div class="form-group">
      <h2>Contact Us!</h2>
      <input type="hidden" name="redirect_to" value="http://nss-cohort-8.github.io" class="form-control">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" placeholder="John Smith" class="input-block-level form-control"><br>
      <label for="company">Company:</label><br>
      <input ttype="text" id="company" name="company" placeholder="Company" class="input-block-level form-control"><br>
      <label>Email:</label><br>
      <input ttype="text" name="username" placeholder="Email address" class="input-block-level form-control"><br>
      <label>Message:</label><br>
      <textarea tname="message" placeholder="How can we help you?" cols="50" rows="10" class="input-block-level form-control"></textarea><br>
      <button type="submit" value="submit" class="btn btn-large btn-primary form-control">Send</button>
    </div>
  </form>
</div>