
<h1>this is the home page</h1>
<h1>this is the school information page</h1>
<h1>this page is all about students!!</h1>
<div ng-repeat="student in students" class="container">
  <h2>{{student.name}}</h2>
  <h3><a href="{{student.portfolio}}"><i class="fa fa-floppy-o">&nbsp Portfolio</i></a></h3>
  <p><a href=" {{student.linkedin}}"><i class="fa fa-linkedin-square"></i></a></p>
  <p><a href="{{student.github}}"><i class="fa fa-github-alt"></i></a></p>
  <p><a href="{{student.twitter}}"><i class="fa fa-twitter"></i></a></p>
  <p>{{student.summary}}</p><img src="{{student.pic1}}" height="200" width="200"><img src="{{student.pic2}}" height="200" width="200">
</div>
<h1>this is the contact page</h1>