
<div id="nss">
  <div id="summary" class="container">
    <h3>Summary of Cohort 8's experience as NSS Students</h3>
    <p>Our experience at NSS? Intense and Intensive. For the past six months, we spent the day at school
      <learning>new and challenging material, writing lots of code and working with other students on projects. And </learning>
      <on>nights and weekends, we went to meetups, mixers, hackathons, and worked with other members of the </on>
      <community>on more projects. And wrote more code.</community>
    </p>
    <p>The NSS curriculum has taught us the skills and technologies required 
      <to>become a full-stack software developer. And we are now ready and willing</to>
      <to>use our new knowledge-and keep on </to>
      <learning>and growing as software development professionals.</learning>
    </p>
    <p>Below are some of the technologies we've learned in the last six months!</p>
  </div>
  <div id="skills" class="container-fluid">
    <div id="gitskills" ng-repeat="skill in skills"><a href="{{skill.link}}"><img src="{{skill.logo}}" alt="{{skill.name}} logo"></a></div>
  </div>
</div>