
<div id="students">
  <div class="title">
    <div class="title-headers">
      <h1>we came to code</h1>
      <h4>meet the next generation of web developers</h4>
    </div>
  </div>
  <div ng-repeat="student in students" class="each-student"><img src="{{student.pic1}}" data-toggle="modal" data-target="#myModal{{$index}}" class="pointer">
    <h2>{{student.name}}</h2>
    <div tabindex="-1" role="dialog" id="myModal{{$index}}" aria-labelledby="myModalLabel" aria-hidden class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" arai-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
            <h2>{{student.name}}</h2>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6"><img src="{{student.pic2}}"></div>
                <div class="col-md-6">
                  <div class="row">
                    <h3 ng-show="student.portfolio"><a href="http://{{student.portfolio}}"><i class="fa fa-floppy-o">&nbsp Portfolio</i></a></h3>
                  </div>
                  <div class="row contact-me">
                    <h3><a href="https://linkedin.com/{{student.linkedin}}"><i class="fa fa-linkedin-square"></i></a></h3>
                    <h3><a href="http://github.com/{{student.github}}"><i class="fa fa-github-alt"></i></a></h3>
                    <h3 ng-show="student.twitter"><a href="https://twitter.com/{{student.twitter}}"><i class="fa fa-twitter"></i></a></h3>
                  </div>
                  <div class="row">
                    <h3>{{student.summary}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>