// Typography
$sans-serif: Lato, $helvetica, sans-serif;
$serif: $georgia, serif;
$base-font-family: $sans-serif;
$header-font-family: "Montserrat", $base-font-family;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 1px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;
$base-spacing-small: 0;

// Colors
$light-grey: #cececf;
$medium-grey: #939598;
$grey: $medium-grey;
$dark-grey: #555;
$superlight-grey: #e9e9e9;
$footer-grey: #b9b9b9;

$white: #fff;
$orange: #f68b1f;
$green: #77c65f;
$blue: #2c7fef;
$red: #ef482c;
$purple: #926AB2;
$red-orange-gradient: linear-gradient(left, #f0452d 0%, #f26c2d 100%);
$vertical-red-orange-gradient: linear-gradient(top, #f0452d 0%, #f26c2d 100%);

// Default Colors from Bitters

$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-grey;
$base-accent-color: $orange;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $red-orange-gradient;
$hover-button-color: $hover-link-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $orange;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $light-grey;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;