doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='index.css' type='text/css')
    title COHORT 8 is Great
  body(ng-app='ch8App')
    #nav-header
      nav
       a(ui-sref='home') Cohort 8
       ul
         li: a(ui-sref='home'): i.fa.fa-home &nbsp; Home
         li: a(ui-sref='nss'): i.fa.fa-bolt &nbsp; NSS Stuff
         li: a(ui-sref='students'): i.fa.fa-bolt &nbsp; Individual Student Stuff
         li: a(ui-sref='contact'): i.fa.fa-bolt &nbsp; Contact Form for the Class

  
  div(ui-view)

      
    script(src='vendor/jquery/dist/jquery.js')
    script(src='vendor/bootstrap-sass/assets/javascripts/bootstrap.js')
    script(src='vendor/lodash/lodash.js')
    script(src='vendor/angular/angular.js')
    script(src='vendor/angular-ui-router/release/angular-ui-router.js')
    script(src='index.js')
    script(src='models/students.js')
    script(src='views/students.js')
    script(src='models/skills.js')
    script(src='views/skills.js')
