@import '../public/vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import "bourbon";
@import "neat";
@import "variables";

/////////////////////////////// HOME VIEW ///////////////////////////////////
#home {
  //styling for home div
  text-align: center;

  .pic-container {
    margin: 4% 5%;
    img {
      width:100%;
    }


  }
}


//////////////////// NSS VIEW ///////////////////////////////////
#nss {
  //styling for nss div
  text-align: center;

  #program {
    background-image: url('images/snapshots/mollyandy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1% 0;
  }

  #curriculum {
    background-image: url('images/snapshots/jurnell.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1% 0;
  }

  #intense {
    background-image: url('images/snapshots/tylerjacob.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1% 0;
  }

  #hack {
    background-image: url('images/snapshots/snacktnteam.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1% 0;
  }



  .img-div {
    background-color: $white;
    margin: 1%;

    img {
      width: 20%;
      margin: 1%;
    }
  }

  .skills {
    background-color: $white;
  }

  #gitskills {
    display: inline-block;

    img {
      height: 100px;
      padding: 10px;
      color: $blue;
    }

  }

  .text {
    color: $white;
    padding: 20%;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, .3);
  }

  h2 {
    color: $orange;
    font-family: $header-font-family;
    font-size: 5rem;
    padding: 2%;
  }

  h4 {
    color: $light-grey;
    font-family: $header-font-family;
  }

}


///////////////////////// STUDENTS VIEW /////////////////////////////
#students {
  //styling for students div
  text-align: center;
  margin: 1%;
  font-family: $base-font-family;


  .title {
    background-image: url('images/placeholder-group.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: $header-font-family;
    margin: 0 0 2% 0;

    .title-headers {
      color: $white;
      background-color: rgba(0, 0, 0, .5);
      padding: 5%;
      font-weight: bold;
    }

    h1 {
      font-size: 12rem;
    }

    h4 {
      font-size: 3rem;
    }

  }

  h2 {
    color: $dark-grey;
    padding: 4% 0;
  }

  .modal .modal-content h2 {
    padding: 0;
  }


  .modal .modal-content img  {
    width: 30rem;
    height: 30rem;
  }

  .each-student {
    display: inline-block;
    margin: 1% 0.5%;
    background-color: $white;
    width: 35rem;

    img {
      width: 35rem;
      height: 35rem;
    }

  }

  .modal-footer {
    text-align: center;
  }

  .contact-me {
    h3 {
      display: inline-block;
      margin: 0 3%;
    }

  }
}


///////////////////////// CONTACT VIEW /////////////////////////////
#contact {
  //styling for contact div here
  .contact-us {
    background-image: url('images/snapshots/biddyclouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1% 0;
  }

  .text {
    text-align: center;
    color: $white;
    background-color: rgba(0, 0, 0, .4);
  }

  h2 {
    font-size: 5rem;
  }


  form {
    padding: 2% 20% 10%;
    color: $white;

    input, textarea {
      background-color: rgba(0, 0, 0, .4);
      color: $white;
    }
  }

}


///////////////////////// NAV /////////////////////////////
#nav-header {
  //styling for nav
  nav {
    text-align: center;
    background-color: $orange;
    a {
      color: $dark-grey;
      text-decoration: none;
    }
    ul li {
      list-style-type: none;
      margin: 0 15px;
      font-family: $sans-serif;
    }
    ul li, p {
      display: inline;
    }
    .cohort-title {
      font-family: $header-font-family;
      font-size: 2em;
    }
  }
}

/////////////////////////////// HTML ///////////////////////////////////
body {
  background-color: $superlight-grey;
  padding-top: 70px;
}
