#contact
  .contact-us
    .container-fluid
      .text
        h2 Contact Us
        p We want to hear from you. Hire us, ask more about the program, give us your feedback.

      form(action='https://getsimpleform.com/messages?form_api_token=6851f4ec0e08c90e52af30293e056236', method='post')
        .form-group
          input(class="form-control", type='hidden', name='redirect_to', value='http://nss-cohort-8.github.io')
        .form-group
          label(for="name") Name:
          input#name.form-control.input-block-level(type="text", name="name", placeholder="John Smith")
        .form-group
          label.control-label Company:
          input#company.form-control.input-block-level(type="text",name="company", placeholder="Company")
        .form-group
          label.control-label Email:
          input#email.form-control.input-block-level(type="text", name="email", placeholder="Email address")
        .form-group
          label.control-label Message:
          textarea#message.form-control.input-block-level(name="message", placeholder="How can we help you?", cols="50" rows="10")
        .form-group
          button.btn.btn-large.btn-primary.form-control(type="submit", value="submit") Send
