#home
  .container-fluid.pic-container
    a(href='/#/nss'): img(src='images/2015_05_27_NSS8_Group_024_T_BW_S.jpg' onmouseover='this.src="images/2015_05_27_NSS8_Group_012_T_S.jpg";' onmouseout='this.src="images/2015_05_27_NSS8_Group_024_T_BW_S.jpg";')
  .container-fluid
    p Thanks to our amazing teachers: Eliza Brock, Scott Humphries, and Jurnell Cockhren. And of course John Wark for making this possible!
    p Made with love by Erin Page, Bryan Finlayson, Ayumi Bennett, Katye Russell, Brennan Willingham, Kyle McCormick 
    p Professional photos by Inge Kathleen Photography | Snapshots by Ayumi Bennett, Erin Page | Logo by Brandon Espinoza
