#nss
  h2 Cohort 8 at Nashville Software School

  #program.container-fluid
    .text
      p We spent 12 weeks on Front-End Development and 12 weeks on Back-End Development with Ruby and Rails
    
  .skills.container-fluid
    #gitskills(ng-repeat="skill in skills")
      a(href='{{skill.link}}'): img(src='{{skill.logo}}', alt='{{skill.name}} logo')

  #curriculum.container-fluid
    .text
      p The NSS curriculum has taught us the skills and technologies required to become a full-stack software developer. And we are now ready and willing to use our new knowledge-and keep on learning and growing as software development professionals.

  .img-div.container-fluid
    img(src='images/snapshots/autin.jpg')
    img(src='images/snapshots/dog-friends-1.jpg')

  #intense.container-fluid
    .text
      p Our experience at NSS? Intense and Intensive. For the past six months, we spent the day at school on learning new and challenging material, writing lots of code and working with other students on projects. 

  .img-div.container-fluid
    img(src='images/snapshots/gathering.jpg')
    img(src='images/snapshots/dog-friends-2.jpg')
    img(src='images/snapshots/biddyclouds.jpg')


  #hack.container-fluid
    .text
      p And on nights and weekends, we went to meetups, mixers, hackathons, and worked with other members of the community on more projects. And wrote more code.

  .img-div.container-fluid
    img(src='images/snapshots/nashrb.jpg')
    img(src='images/snapshots/hacktn-1.jpg')
    img(src='images/snapshots/dog-friends-3.jpg')
  
  .container-fluid
    .text
      p With a little help from our friends
    
  .img-div.container-fluid
    img(src='images/snapshots/eliza.jpg')
    img(src='images/snapshots/teachers.jpg')
    img(src='images/snapshots/dog-friends-4.jpg')
