#nss
  h2 Cohort 8 at Nashville Software School

  #program.container-fluid
    .text
      p We spent 12 weeks on Front-End Development with HTML, CSS, and JavaScript and 12 weeks on Back-End Development with Ruby, Rails, and SQL
    
  .skills.container-fluid
    #gitskills(ng-repeat="skill in skills")
      a(href='{{skill.link}}'): img(src='{{skill.logo}}', alt='{{skill.name}} logo')

  .img-div.container-fluid
    img(src='images/snapshots/luke.jpg')
    img(src='images/snapshots/photoday.jpg')
    img(src='images/snapshots/photodaydotun.jpg')
    img(src='images/snapshots/pongaustin.jpg')


  #curriculum.container-fluid
    .text
      p The NSS curriculum has taught us the skills and technologies required to become a full-stack software developer. 

  .img-div.container-fluid
    img(src='images/snapshots/autin.jpg')
    img(src='images/snapshots/teachers.jpg')
    img(src='images/snapshots/dog-friends-1.jpg')
    img(src='images/snapshots/hacktndudes.jpg')
  
  #intense.container-fluid
    .text
      p Our experience at NSS? Intense and Intensive. 

  .img-div.container-fluid
    img(src='images/snapshots/mentormeet.jpg')
    img(src='images/snapshots/dog-friends-2.jpg')
    img(src='images/snapshots/dotunbiddy.jpg')
    img(src='images/snapshots/hacktnwork.jpg')


  #school.container-fluid
    .text
      p For the past six months, we spent the day at school learning new and challenging material, writing lots of code and working with other students on projects.

  .img-div.container-fluid
    img(src='images/snapshots/erinbrandon.jpg')
    img(src='images/snapshots/hacktn.jpg')
    img(src='images/snapshots/andylearns.jpg')

  #hack.container-fluid
    .text
      p And on nights and weekends, we went to meetups, mixers, hackathons, and worked with other members of the community on more projects. And wrote more code.

  .img-div.container-fluid
    img(src='images/snapshots/nashrb.jpg')
    img(src='images/snapshots/eliza.jpg')
    img(src='images/snapshots/dog-friends-4.jpg')
    img(src='images/snapshots/brennan.jpg')

  #end.container-fluid
    .text
      p And we are now ready and willing to use our new knowledge-and keep on learning and growing as software development professionals.
