#nss
  .container(id="logo")
    a(href='http://nashvillesoftwareschool.com/'): img(src="../images/logos/_NSSlogo.jpg" alt="Nashville Software School logo")

  .container(id="summary")
    h3 Summary of Cohort 8's experience as NSS Students

    p writing goes here

  .container(id="skills")
    hr

    #languageskills(ng-repeat="skill in skills | filter:{type:'language'}")
      a(href='{{skill.link}}'): img(src='{{skill.logo}}', alt='{{skill.name}} logo')

    hr
    h4 Version Control & Open Source Resources

    #gitskills(ng-repeat="skill in skills | filter:{type:'git'}")
      a(href='{{skill.link}}'): img(src='{{skill.logo}}', alt='{{skill.name}} logo')


    hr
    h4 Styling & Preprocessors

    #styleskills(ng-repeat="skill in skills | filter:{type:'style'}")
      a(href='{{skill.link}}'): img(src='{{skill.logo}}', alt='{{skill.name}} logo')


    hr
    h4 Frameworks

    #frameskills(ng-repeat="skill in skills | filter:{type:'frame'}")
      a(href='{{skill.link}}'): img(src='{{skill.logo}}', alt='{{skill.name}} logo')


    hr
    h4 Testing Resources

    #testskills(ng-repeat="skill in skills | filter:{type:'test'}")
      a(href='{{skill.link}}'): img(src='{{skill.logo}}', alt='{{skill.name}} logo')

    hr
    h4 Database Resources

    #databaseskills(ng-repeat="skill in skills | filter:{type:'database'}")
      a(href='{{skill.link}}'): img(src='{{skill.logo}}', alt='{{skill.name}} logo')

