#students
  h1 this page is all about students!!
  .container(ng-repeat='student in students')
    h2 {{student.name}}
    img(src='{{student.pic1}}' height=200 width=200 data-toggle='modal' data-target='#myModal')

    #myModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden=true)
      .modal-dialog
        .modal-content
          .modal-header
            button(type='button' class='close' data-dismiss='modal' arai-label='Close'): span(aria-hidden='true')&times;
          .modal-body
            h2 {{student.name}}
            img(src='{{student.pic2}}' height=200 width=200)
            h3: a(href='{{student.portfolio}}'): i.fa.fa-floppy-o &nbsp Portfolio
            p: a(href=' {{student.linkedin}}'): i.fa.fa-linkedin-square
            p: a(href='{{student.github}}'): i.fa.fa-github-alt
            p: a(href='{{student.twitter}}'): i.fa.fa-twitter
            p {{student.summary}}
