#students
  .title
    .title-headers
      h1 we came to code
      h4 meet the next generation of web developers
  .each-student(ng-repeat='student in students')
    img.pointer(src='{{student.pic1}}' data-toggle='modal' data-target='#myModal{{$index}}')
    h2.stdName {{student.name}}

    .modal.fade(tabindex='-1' role='dialog' id='myModal{{$index}}' aria-labelledby='myModalLabel' aria-hidden=true)
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button(type='button' class='close' data-dismiss='modal' arai-label='Close'): span(aria-hidden='true') &times;
            h2 {{student.name}}
          .modal-body
            .container-fluid
              .row
                .col-md-6
                  img.student-headshot(src='{{student.pic2}}')
                .col-md-6
                  .row
                    .col-sm-12
                      ul.student-links
                        li
                          a(href='http://{{student.portfolio}}'): i.fa.fa-floppy-o.social &nbsp;Portfolio
                        li
                          a(href='https://linkedin.com/{{student.linkedin}}'): i.fa.fa-linkedin-square.social &nbsp;LinkedIn
                        li
                          a(href='https://twitter.com/{{student.twitter}}'): i.fa.fa-twitter.social &nbsp;Twitter
                  .row
                    .col-sm-12
                      p.lead {{student.summary}}
